<footer class="footer">
    <div class="footer-contact">
        <!-- github -->
        <div class="footer-contact-item github">
            <a id="github_link" href="https://github.com/yllhwa" target="_blank" class="footer-contact-link">@yllhwa</a>
        </div>
    </div>
    <div class="footer-text">©️ 2021 – 2024 ❤ yllhwa</div>
</footer>