<div class="post-container">
  <h1 class="post-title">
    <%= page.title %>
  </h1>
  <div class="blog-meta">
    <span class="blog-time">📅 <%- date(page.date, "YYYY-MM-DD" ) %></span>
  </div>
  <p>
    <%= page.tip %>
  </p>
  <article class="post-content"><%- page.content %></article>
  <div class="comment">
    有疑问或评论欢迎发送邮件到 comment@yllhwa.com
  </div>
</div>